:root {
  --font-family-symbols: 'Mandalas', 'Wingdings';
  --font-family-serif: 'Cormorant', serif;
  --font-family-sans-serif: 'Open Sans', sans-serif;
  --bg-colour: #000922;
  --bg-colour-trans: #00092299;
  --input-bg-colour: #1e2842;
  --light-blue-grey: #e1e1ee;
  --mid-blue-grey: #a4a4c4;
  --dark-blue-grey-trans: #76769666;
  --dark-blue-grey: #767696;
  --quote-mark-colour: #868fa3;
  --quote-border-colour: #868fa366;
  --quote-left: '\201C';
  --quote-right: '\201D';
  --mid-grey: #82868f;
  --mobile-max-width: 400px;
  --user-select: initial;
  --b: calc(1vmax);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--mid-grey);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--mid-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--mid-grey);
}