* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
  user-select: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-sans-serif);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-colour);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 3.4rem;
}

main.wrapper {
  width: 75vw;
  max-width: 480px;
}

.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: calc(1vmax) calc(1vmax * 2);
  color: #000;
  opacity: 0;
  font-size: clamp(1.25rem, 2vmax, 1.75rem);
  width: auto;
  font-weight: normal;
  background: var(--light-blue-grey);
  transform: scale(0.5);
  animation: copied 3s ease-in-out 0s 1 forwards paused;
  animation-play-state: unset;
}

.toast-message.none {
  animation: none;
}

@keyframes copied {
  0%, 100% {
    opacity: 0;
    transform: translateY(5vmax);
  }
  10%, 90% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

.m-r-5 {
  margin-right: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.btn {
  padding: 3px 7px;
  line-height: 1;
  opacity: 1;
  background: var(--mid-blue-grey);
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all 0.25 ease;
}

.btn:hover {
  background: var(--light-blue-grey);
  transition: all 0.25 ease;
}

.btn.disabled,
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.25 ease;
}

.btn > i {
  font-size: 1rem;
}

a.link, a.link:visited {
  color: var(--light-blue-grey);
  font-size: 1.125rem;
  font-weight: 700;
}

a.link:hover {
  text-decoration: none;
}