:root {
  --font-family: wingdings;
  --background-colour: #000922;
  /* --font-family: rosette; */
  /* --font-family:  fico; */
}

html {
  touch-action: manipulation;
  user-select: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background: var(--background-colour);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main.wrapper {
  width: 50vw;
}

.m-b-20 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 0;
  font-size: 2rem;
  border: none;
  outline: none;
}

input.quantity {
  width: 100%;
}

input.letters {
  font-family: var(--font-family); 
  width: calc(100% - 50px);
  text-transform: uppercase;
}

.display {
  font-family: monospace;
  font-size: 1.25rem;
  margin-top: 10px;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  height: 20px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 5px;
  background: #666;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
}

.btn:hover {
  background: #666;
}

.snowflake {
  font-family: var(--font-family); 
  margin: 0;
  position: absolute;
  border-radius: 50%;
  top: calc(var(--y, 50) * 1%);
  left: calc(var(--x, 50) * 1%);
  opacity: var(--opacity);
  transform: translate(-50%, -50%);
  animation: float calc(var(--duration, 1) * 1s) calc(var(--delay, 0) * -1s) infinite linear both;
  cursor: pointer;
}

.snowflake > span {
  font-weight: bold;
  font-size: calc((1vmin / 5) * var(--size));
  color: var(--colour);
}

@keyframes float {
  from {
    transform: translate(-50%, -50%) translate(0, -100vh) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) translate(0, 100vh) rotate(calc(360deg * var(--dir)));
  }
}

.tooltip {
  position: fixed;
  width: 40vmax;
  top: calc(vh / 2);
  left: calc(vw / 2);
  min-width: 20px;
  min-height: 20px;
  padding: 2vmax;
  background: var(--background-colour);
  color: #fff;
  font-family: 'Cormorant', serif;
  font-size: 4vmax;
  text-align: center;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.25s ease;
}

.tooltip.active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.25s ease;
  border: 1px dashed #ffffffcc;
	box-shadow: 0 0 0 2.5px #00000099, 0 0 0 5px #ffffff99, 0 0 0 10px #66666633, 0 0 2.5px 10px #99999966;
  background: #00092299;
}

.quote {
  font-style: italic;
  font-weight: 600;
}

.quote::before,
.quote::after {
  transform: scale(1.75) !important;
  display: inline-block;
  color: #999;
}

.quote::before {
  content: '\201C';
  margin-right: calc(1vmax * 1.5);
}

.quote::after {
  content: '\201D';
  margin: 0 calc(1vmax);
}