* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
  user-select: none;
  color: #fff;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-sans-serif);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-colour);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 3.4rem;
  margin: 0 0 40px 0;
  line-height: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

main.container {
  width: 75vw;
  max-width: 640px;
}

.hidden {
  position: absolute; 
  left: -99999px;
}

.section-m-r-5 {
  margin-right: 5px;
}

.section-m-l-5 {
  margin-left: 5px;
}

.section-m-r-10 {
  margin-right: 10px;
}

.section-m-l-10 {
  margin-left: 10px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

footer {
  font-size: 0.875rem;
  max-width: 640px;
  color: var(--mid-blue-grey);
  height: 50px;
  margin: 0;
}

footer a {
  color: var(--mid-blue-grey);
  font-weight: bold;
  transition: all 0.2s ease;
}

footer a:hover {
  color: var(--light-blue-grey);
  transition: all 0.2s ease;
  text-decoration: none;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}

a.link, a.link:visited {
  color: var(--light-blue-grey);
  font-size: 1.125rem;
  font-weight: 700;
}

a.link:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  h1, footer {
    text-align: center;
  }
  .section-m-r-5 {
    margin-right: 0;
  }
  .section-m-l-5 {
    margin-left: 0;
  }
}