

.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: calc(1vmax) calc(1vmax * 2);
  color: #000;
  opacity: 0;
  font-size: clamp(1.25rem, 2vmax, 1.75rem);
  width: auto;
  font-weight: normal;
  background: #fff;
  transform: scale(0.5);
  animation: copied 3s ease-in-out 0s 1 forwards paused;
  animation-play-state: unset;
}

.toast-message.none {
  animation: none;
}

@keyframes copied {
  0%, 100% {
    opacity: 0;
    transform: translateY(5vmax);
  }
  10%, 90% {
    opacity: 0.9;
    transform: translateY(0);
  }
}